.comCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 20px; 
  margin: 0;
}

.firstCard, .secondCard {
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-shadow: -1px 1px 85px rgba(224, 223, 223, 1);
  padding: 20px;
  max-width: 700px; 
  height: auto; 
  flex: 1 1 250px; 
  margin: 10px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  justify-content: space-between;
}

.TitleCard {
  font-family: 'Taviraj';
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.03em;
  margin-left: 20px;
}

.spanCard {
  font-family: 'Taviraj';
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
}

.DesCard {
  font-family: 'Nunito';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #777777;
  margin-left: 20px;
}

.DiscoverCard {
  font-family: 'Taviraj';
  font-size: 16px;
  font-weight: 600;
  line-height: 27.3px;
  letter-spacing: 0.03em;
  margin-left: 20px;
  cursor: pointer;
}

.hrCustomCard {
  height: 1px; 
  width: 110px; 
  opacity: 1; 
  margin-left: 20px;
}

.ImgCard {
  width: 100%;
  max-width: 160px; 
  margin-left: auto; 
  margin-right: 0; 
  display: block; 
}

